.card-container {
  background-color: #4b3556;
  padding: 50px 30px;
  text-align: center;
}

.card-container2 {
  background-color: #4b3556;
  padding: 5px 30px;
  text-align: center;
}

.card-container h2 {
  font-family: "Poppins", sans-serif;
  color: white;
  padding-top: 0;
  font-size: 35px;
  letter-spacing: 5px;
}

.card-container h3 {
  font-size: 22px;
  color: white;
  opacity: 0.3;
  margin-bottom: 45px;
  font-family: "Poppins", sans-serif;
  letter-spacing: 7px;
}

.pic {
  width: 270px;
  height: 270px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin: 0 auto;
  border: white;
  transition: transform 0.3s ease;
}

/* Responsiveness */
@media (max-width: 768px) {
  .pic {
    width: 200px;
    height: 200px;
  }
}

@media (max-width: 576px) {
  .pic {
    width: 150px;
    height: 150px;
  }
}

@media (max-width: 660px) {
  .card-container {
    padding: 30px;
  }
}
